.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#txt {
  width:90%;
  margin-bottom:20px;
}

#body {
  width:90%;
}

.grammar_div {
  width:90%;
  margin-top:20px;
}

#grm {
  width:100%;
  font-family:monospace;
  font-size:15px;
}

#slider-range-min {
  width:89%;
  margin-bottom:20px;
  margin-left:10px;
}